<div class="footer credits">
    {{ gpg_app_title }} v{{ gpg_app_version }}</br>
    Designed by {{ gpg_copy_author }} - Copyright &#169; {{ gpg_copy_year }}-<span id="copyright">{% cspscript %}<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>{% endcspscript %}</span> {{ gpg_copy_holder }}
</div>